
body {
    background-color: #d0bdf4;
    font-family: Arial, sans-serif;
  }
  
  
  header {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  header h1 {
    color: #51e2f5;
    margin: 0;
  }
  
  header button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
  }
  
  header button:hover {
    background-color: #3e8e41;
  }
  
 
  .user-details {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
  }
  
  .user-details h2 {
    color: #444;
    font-size: 24px;
    margin: 0;
  }
  
  .user-details p {
    color: #666;
    font-size: 16px;
    margin: 10px 0 0 0;
  }
  
  
  #error-message {
    color: #ff0000;
    text-align: center;
  }
  